.footer{
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    height: 6em;
    max-width: 1375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7em;
}

.R{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30em;
    align-items: flex-end;
}

.linkedin{
    width: 2em;
    height: 2em;
}

.github{
    width: 2em;
    height: 2em;
}