header{
    width: 100%;
    background: url('../imagenes/header.jpg') no-repeat  center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 4;
    box-shadow: -5px 0px 10px 0px gray;
}

.contenedor-header{
    width: 90%;
    max-width: 1375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em;
}

.cabecera-button{
    display: none;
    align-items: center;
}

.logo{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
}

.logo-restaurant{
    width: 6em;
}

.contenedor-ul{
    align-items: center;
    display: flex;
    width: 40%;
    justify-content: space-around;
    list-style: none;
}

.contenedor-ul li{
    font-size: 1.5em;
}

.cabecera-svg{
    width: 100%;
    height: 100%;
    display: none;
}
.cabecera-svg2{
    width: 100%;
    height: 100%;
    color: black;
    display: none; 
}

.active{
    font-size: 1.04em;
    color: rgb(255, 255, 255);
}

.active:hover{
    color: white;
}

.desactive{
    color: black;
    text-decoration: none;
}

.desactive:hover{
    color: white;
}

@media screen and (max-width:1300px){
    .contenedor-ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30em;
    }
}

@media screen and (max-width:700px){
    .contenedor-header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
    }

    .logo{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }

    .logo-restaurant{
        width: 8em;
    }

    .contenedor-ul.isActive{
        display: flex;
        margin-top: 1em;
    }

    .contenedor-ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        font-size: 1.2rem;
        display: none;
    }

    .contenedor-ul li{
        margin: 0.7em;
    }

    .cabecera-button{
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cabecera-svg{
        color: white;
        width: 6em;
        height: 6em;
        display: flex;
        cursor: pointer;
    }

    .cabecera-svg.isActive{
        display: none;
    }

    .cabecera-svg2.isActive{
        color: white;
        width: 4.8em;
        height: 4.8em;
        display: flex;
        cursor: pointer;
        margin-right: 0.5em;
    }
}