.Contenedor-principal{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor-video{
    width: 100%;
    height: 33%;
    margin-top: 0;
    padding: 12em 0;
    max-width: 1375px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: rgb(20, 20, 20);
}

.video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}


.Nosotros-Text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    color: white;
}

.Nosotros-Text h1{
    font-size: 5em;
}

.Nosotros-Text p{
    width: 80%;
}

.contenedor-imagen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.contenedor-burger{
    top: 0;
    height: 100%;
    width: 100%;
    padding: 12em;
    max-width: 1375px;
    height: 100%;
    background-color: rgb(20, 20, 20);
    background: url('../imagenes/burger.png') no-repeat center center/cover;
}
.contenedor-blog{
    width: 100%;
    /* height: 33%; */
    max-width: 1375px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.blog{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 252, 245);
    padding: 2em 0;
}

.conocenos{
    font-size: 4em;
    color: rgb(161, 135, 64);
}

.texto-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img{
    width: 70%;
}

.blog-2{
    /* background-color: white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.blog .imagen{
    width: 40%;
}

hr{
    margin-top: 1em;
    width: 40em;
    background-color:  rgb(255, 187, 0)
}

.texto h1{
    font-size: 4em;
    color: rgb(161, 135, 64);
    
}

.stars{
    color: rgb(161, 135, 64);
}

.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

.rating{
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    text-align: center;
    margin-top: 1em;
}

@media screen and (max-width:1300px){
    .video{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        object-fit: cover;
    }
    
    .Nosotros-Text h1{
        font-size: 5em;
    }
    
    .Nosotros-Text p{
        width: 80%;
    }

    .contenedor-imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .blog .imagen{
        width: 40%;
    }

    .blog-2{
        width: 60%;
    }

    hr{
        width: 25em;
    }

    .texto h1{
        font-size: 3em;
        color: black;
    }
    
    .texto{
        text-align: center;
        width: 90%;
        font-size: 1em;
    }
    
    .texto h1{
        font-size: 3.5em;
    }

    .rating p{
        width: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width:760px){
    
    h1{
        font-size: 3em;
    }
    
    p{
        width: 80%;
        text-align: justify;
    }
    
    .contenedor-blog{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: aqua;
    }

    .blog{
        display: flex;
        background-color: white;
        flex-direction: column;
        width: 100%;
    }

    .contenedor-imagen{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    
    .texto-imagen{
        display: flex;
        flex-direction: column;
    }

    .blog .imagen{
        width: 50%;
        height: 50%;
    }

    .imagen img{
        width: 100%;
    }
    
    .blog-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-bottom:2em; 
    }
    
    .texto{
        text-align: center;
        width: 100%;
        font-size: 1em;
    }

    .rating{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .rating p{
        width: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Nosotros-Text{
        font-size: 1.2em;
    }

    .contenedor-imagen{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34%;
    }
    
    .contenedor-burger{
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(20, 20, 20);
        background: url('../imagenes/burger2.PNG') no-repeat center center/cover;
    }
}

@media screen and (max-width:500px){

    h1{
        font-size: 3em;
    }
    
    p{
        width: 80%;
    }

    .video{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        object-fit: cover;
    }

    .texto{
        font-size: 1.2em;
    }

    .rating{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 2em;
        font-size: 1.2em;
    }

    .rating p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
}


