.Product{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.componentes{
    margin: 1em 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
