
.contenedor-formulario{
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 100%;
}

.form-reserva{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    border-radius: 10px;
    padding: 1em;
    margin: 2em;
    box-shadow: 1px 0px 10px -3px gray;
    background-color: rgba(219, 171, 38, 0.849);
}

.contenedor Form input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid goldenrod;
    padding: 1px 5px;
}

.contenedor-formulario button{
    margin-top: 1em;
    cursor: pointer;
    align-self: center;
}

.datos{
    margin: 2em;
    width: 60%;
    display: flex;
}

.tabla{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    padding: 0 1em;
}

.tabla thead{
    width: 100%;
    color: rgba(219, 171, 38, 0.849);
}

.tabla tbody{
    width: 100%;
}

.tabla th{
    width: 18%;
}

.tabla td{
    width: 18%;
}

.tabla tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form button{
    border-radius: 0.5em;
    padding: 0.3em;
    border: none;
}

form button:hover{
    background-color: rgba(194, 172, 113, 0.781);
}

@media screen and (max-width:1038px){
    .tabla th{
        font-size: 0.9em;
    }
}

@media screen and (max-width:900px){
    .contenedor-formulario{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .contenedor-formulario h1{
        font-size: 2em;
    }

    .contenedor Form input {
        margin: 0.7em 0;
    }

    .form-reserva{
        width: 80%;
        height: 80%;
    }

    .datos{
        width: 95%;
    }
}
